body{
    font-family: Arial, Helvetica, sans-serif;
    background:white;
    overflow: hidden;
    color: #243464;
    margin: 0;
}

nav{
    position: fixed;
    top: 0;
    background:#243464;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    padding: 10px;
}

nav .navbar-logo{
    float: left;
}

nav .links{
    float: right;
    color: white;
    display: block;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

.links:hover{
    background-color: white;
    color: #243464;
}

footer{
    position: absolute;
    bottom: 0;
    background:#243464;
    width: 100%;
    padding: 10px;
}

footer .socials{
    display: flex;
    justify-content: space-evenly;
}

footer .creator{
    position: absolute;
    color: lightgray;
    text-align: center;
    font-size: 15px;
    margin:0;
    bottom:0;
    right:0;
    left:0;
}

footer a{
    color: white;
    display: block;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}

.center-div{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
